# adb over ethernet
on boot
    setprop service.adb.tcp.port 5555

service dhcp_eth0 /vendor/bin/dhcp_eth0.sh
    class main
    disabled
    oneshot

# switch adb over net
on post-fs-data
    start dhcp_eth0

# switch adb over dwc
on property:persist.vendor.sys.usb.adbover=dwc
#    write /sys/bus/pci/devices/0000:00:14.0/dbc disable
    stop adbd
    start adbd

# switch adb over dbc
on property:persist.vendor.sys.usb.adbover=dbc && property:sys.boot_completed=1
    write /sys/bus/pci/devices/0000:00:14.0/dbc enable
    write /sys/bus/pci/devices/0000:00:15.0/dbc enable
    write /sys/bus/pci/devices/0000:00:16.0/dbc enable
    write /sys/bus/pci/devices/0000:39:00.0/dbc enable
    stop adbd
    start adbd
